body {
    font-family: sans-serif;
    box-sizing: border-box;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.header .right-links {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

.block-one {
    color: #E5E7EB;
    font-size: 18px;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    justify-content: space-between;
    margin: 0;
    flex: 1;

} 

.block-one .text-one {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 80px;
    margin-right: 80px;
}

.block-one .title {
    font-size: 48px;
    color: #F9FAF8;
    margin-bottom: 0;
}

.placeholder {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    margin: 40px;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    border: 0;
    color: #E5E7EB;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
}
.button {
    margin-top: 5px;
    margin-bottom: 20px;
}

.block-two .subtitle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.box {
    border-color: #3882F6;
    border: 2px;
    border-style: solid;
    height: 100px;
    width: 100px;
    margin: 40px;
    margin-bottom: 5px;
}

.squares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 800px;
    flex: 1;
}

.subtext {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    width: 200px;
    margin-bottom: 50px;
}

.block-three {
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    
}

.quote {
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 80px;
    padding-bottom: 0;
}

.attribution {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
    padding: 80px;
    padding-top: 0;
}

.block-four {
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    gap: 120px;
    padding: 40px;
}

.call {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #E5E7EB;
}

.sub {
    font-weight: bold;
}

.sub-one {
    font-size: 14px;;
}

.sign {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    color: #E5E7EB;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 10px;
    font-size: 10px;
}